.fondo {
    min-height: 100%;
    /* background-image: url('../../assets/img/fondo 5.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}