.footer {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #212529;
    padding: 3% 3% 1% 3%;
}

.info-footer {
    text-align: justify;    
}

.contact-footer {
    text-align: justify;
}

.footer-icons .icons {
    opacity: 0.5;
    color: #fff;
}

.footer-icons .icons:hover {
    opacity: 1;
    transform: translateY(-4%);
}

@media (max-width: 460px) {
    .footer label {
        font-size: 10px;
    }
}