.ContainerView {
  height: 100vh;
  padding-top: 7%;
}

.sideBar .nav-link {
  font-size: 0.8rem;
  text-align: center;
}

.sideBar .nav-link.active {
  background-color: #fff;
  color: #ffc700;
  font-weight: 700;
}

.sideBar .nav-link:hover {
  opacity: 0.8;
  color: #ffc800c5;
}

.headerContentContainer h5 {
  align-items: center;
}
.headerContentContainer h1 {
  align-items: center;
}

@media (min-width: 768px) {
  .ContainerView {
    padding-top: 9%;
  }
  .headerContentContainer h5 {
    justify-content: center;
  }
  .headerContentContainer h1 {
    justify-content: center;
  }
}
@media (max-width: 430px) {
  .ContainerView {
    height: 100%;
  }
  .headerContentContainer h5 {
    justify-content: center;
  }
  .headerContentContainer h1 {
    justify-content: center;
  }
}
