@font-face {
  font-family: "Sol W01 Black Italic";
  src: url("427e7b78e7ec21cbcec02620d0d72d41.eot");
  src: url("427e7b78e7ec21cbcec02620d0d72d41.eot?#iefix")
      format("embedded-opentype"),
    url("427e7b78e7ec21cbcec02620d0d72d41.woff") format("woff"),
    url("427e7b78e7ec21cbcec02620d0d72d41.woff2") format("woff2"),
    url("427e7b78e7ec21cbcec02620d0d72d41.ttf") format("truetype"),
    url("427e7b78e7ec21cbcec02620d0d72d41.svg#Sol W01 Black Italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.contentAbout {
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.aboutus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nuestrasOficinas imagen infoAbout";
  grid-area: aboutus;
}

.nuestrasOficinas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "infoUbicacion"
    "imgUbicacion";
  grid-area: nuestrasOficinas;
}

.infoUbicacion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titleUbi"
    "descriptonUbi";
  grid-area: infoUbicacion;
}

.titleUbi {
  grid-area: titleUbi;
}

.descriptonUbi {
  grid-area: descriptonUbi;
}

.imgUbicacion img {
  grid-area: imgUbicacion;
  width: 100%;
  height: 168px;
  /* background-image: url("../../assets/img/Duplicate.png");
  background-position: bottom;
  background-size: cover; */
}

.imagen {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "img";
  grid-area: imagen;
}

.img {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen img {
  height: 100%;
}

.infoAbout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 00px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "descriptionAbout"
    "button";
  grid-area: infoAbout;
}

.title {
  grid-area: title;
}

.descriptionAbout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 0px 0px;
  grid-template-areas:
    "whoare"
    "whoareinfo" "button";
  grid-area: descriptionAbout;
}
.whoare {
  grid-area: whoare;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whoareinfo {
  grid-area: whoareinfo;
}

.button {
  grid-area: button;
}

.whoareinfo p {
  margin: 0;
  font-size: 14px;
}

.button {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-family: "Sol W01 Black Italic";
  letter-spacing: 0.1em;
}

#descriptionAbout {
  font-family: "Dignus";
  text-align: justify;
}

.modal-content {
  color: #fff;
  background-color: #212529;
}

.modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal .btn-close {
  /* --bs-btn-close-bg: url('../../assets/img/close.svg'); */
  background-image: url('../../assets/img/close.svg');
  font-size: 25px;
}

@media (min-width: 768px) {
  /* .aboutme {
        height: 100vh;
    } */
}
@media (max-width: 768px) {
  .contentAbout {
    height: 100%;
  }

  .aboutus {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0fr 0.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "infoAbout"
      "nuestrasOficinas"
      "imgUbicacion";
    grid-area: 1 / 1 / 2 / 2;
  }

  .nuestrasOficinas {
    grid-area: 3;
    grid-template-rows: 0fr;
    grid-template-areas: "infoUbicacion imagen";
    grid-area: nuestrasOficinas;
  }

  .infoAbout {
    grid-area: 1;
    grid-template-rows: 0fr 1fr 0fr;
    margin-bottom: 20px;
  }
  .whoareinfo p {
    font-size: 15px;
  }

  .titleUbiHeader #title {
    text-align: center;
  }

  .descriptionAbout {
    grid-area: 2;
    grid-template-rows: 1fr 3fr;
  }

  .imagen {
    grid-area: 3;
  }

  .imagen img {
    height: 350px;
    border-radius: 20px 20px 0px 0px;
    width: 100% !important;
  }

  .infoUbicacion {
    grid-area: 1;
  }

  .titleUbi {
    grid-area: 1;
  }

  .ubicacion {
    grid-area: 1;
  }

  .titleUbicacion {
    grid-area: 1;
  }

  .imgUbicacion {
    grid-area: 2;
  }
}
