/* .img {
  grid-area: img;
}

.containerAbout {
  display: grid;
  grid-template-columns: 2.1fr 0.9fr;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 1px 0px;
  grid-auto-flow: row;
  grid-template-areas: "info";
  grid-template-areas: "info img";

  box-shadow: -2px 8px 18px 0px rgba(0, 0, 0, 0.14);
  background-color: #0000005e;
  border-radius: 10px;
  padding: 20px;
}

.containerAbout,
.description,
.mision-and-vision {
  text-align: justify;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title-and-description"
    "mision-and-vision";
  grid-area: info;
}

.description {
  grid-area: title-and-description;
}

.mision-and-vision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.1fr;
  gap: 1px 0px;
  grid-auto-flow: row;
  grid-template-areas: "mision vision";
  grid-area: mision-and-vision;
}

.mision {
  grid-area: mision;
  padding: 10px;
}

.vision {
  grid-area: vision;
  padding: 10px;
} */

.container {
  display: grid;
  grid-template-columns: 3.7fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "aboutus";
  color: #fff;
}

.contentAbout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nuestrasOficinas imagen infoAbout";
  grid-area: aboutus;
}

.nuestrasOficinas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "infoUbicacion"
    "imgUbicacion";
  grid-area: nuestrasOficinas;
}

.infoUbicacion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titleUbi"
    "descriptonUbi";
  grid-area: infoUbicacion;
}

.titleUbi {
  grid-area: titleUbi;
}

.descriptonUbi {
  grid-area: descriptonUbi;
}

.imgUbicacion {
  grid-area: imgUbicacion;
}

.imagen {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "img";
  grid-area: imagen;
}

.img {
  grid-area: img;
}

.infoAbout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "description"
    "button";
  grid-area: infoAbout;
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
}

.button {
  grid-area: button;
}

@media (min-width: 768px) {
  /* .aboutme {
        height: 100vh;
    } */
}
@media (max-width: 768px) {
  .containerAbout {
    grid-auto-columns: 1fr;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-template-areas: "info";
  }
  .mision-and-vision {
    grid-template-columns: 1.1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "mision"
      "vision";
  }
}
