.glassesBody {
  min-height: 100vh;
}
.glassesData {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  margin-top: 2rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets//img/fondoApp.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerContentContainer h5 {
  align-items: center;
}
.headerContentContainer h1 {
  align-items: center;
}

@media (max-width: 768px) {
  .glassesBody{
    height: 100%;
  }
}

@media (min-width: 769px) {
  .glassesContent{
    height: 100%;
  }
}
