.header {
  height: 100vh;
  background-image: url("../../assets/img/fondo7.jpg");
  /* background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat; */
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

.contentHeader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000091;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

@media (max-width: 460px) {
  .contentHeader img {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .contentHeader img {
    width: auto;
  }
}
@media (min-width: 1024px) {
  .contentHeader img {
    width: auto;
  }
}
